.component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    form {
        display: grid;
        width: 500px;
        margin-bottom: 170px;
        
        > label {
            margin-bottom: 10px;
            
            > span {
                display: block;
                margin-bottom: 5px;
            }
            
            > input {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
        
        > input {
            margin-top: 5px;
            width: 100px;
            justify-self: end;
        }
        
        > .buttonbar {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    }
}