.component {
    .grid {
        display: flex;
        gap: 8px;
    }
    
    .card {
        width: 120px;
        border: 1px solid gray;
        padding: 4px;
        
        > h3 {
            margin: 0;
            padding: 0;
        }
        
        > img {
            width: 100%;
        }
    }
}