.component {
    h2 {
      text-decoration: underline;  
    }
    
    img {
        width: 200px;
    }
    
    .adminPanel {
        background-color: lightgray;
        padding: 5px;
        width: 400px;
        height: 150px;
        border: 1px solid gray;
        
        > h4 {
            margin-top: 0;
        }
    }
}